
<app-header></app-header>
<main>
  <div class="main-container">
    <form class="login-form" action="login()">
    <table class="login">
      <tr>
        <th><label for="email"><h2>Email</h2></label></th>
        <td>
          <input type="email" name="email" id="email">
        </td>
      </tr>
      <tr>
        <th><label for="passwd"><h2>Password</h2></label></th>
        <td>
          <input type="password" name="passwd" id="passwd">
        </td>
      </tr>
    </table>
    <button type="submit" >
            Login
          </button>
    </form>
  </div>

</main>
