<div class="info-container">
  <div class="main-container">
    <h2>Información General</h2>
  <div class="info-data">
    <table>
      <tr id="table_tr_matricula">
        <th>
          <app-data-box
          label="Matrícula"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="201812732"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
      <tr id="table_tr_nombre">
        <th>
          <app-data-box
          label="Nombre"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="Danny Paul Soria Muñoz"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
      <tr id="table_tr_ise">
        <th>
          <app-data-box
          label="Categoría ISE"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="2"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
      <tr id="table_tr_etnico">
        <th>
          <app-data-box
          label="Grupo Étnico"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="Mestizo"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
      <tr id="table_tr_sancion">
        <th>
          <app-data-box
          label="Sanción"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="No"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
      <tr id="table_tr_prom">
        <th>
          <app-data-box
          label="Promedi General de las materias aprobadas"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="7.18"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
      <tr id="table_tr_cred_reg">
        <th>
          <app-data-box
          label="Nro. Créditos para ser regular"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="9"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
      <tr id="table_tr_cred_act">
        <th>
          <app-data-box
          label="Nro. Créditos registrados"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="9"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
      <tr id="table_tr_cred_pract">
        <th>
          <app-data-box
          label="Nro. Créditos registrados en prácticas preprofesionales o empresariales y/o vinculación"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="0"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
      <tr id="table_tr_cred_sem">
        <th>
          <app-data-box
          label="Nro. Créditos registrados en el Semestre"
          bg_color='#6a8499'
          ></app-data-box>
        </th>
        <td>
          <app-data-box
          label="9 - Estudiante regular"
          bg_color='#67cbf8'
          ></app-data-box>
        </td>
      </tr>
    </table>

  </div>
  </div>
</div>
