button {
  border-radius: 15px;
  border: 0;
  background-color: rgb(210, 210, 210);
  padding: 1.2rem;
  font-family: sans-serif;
  color: white;
  width: 200px;
  text-align: center;
}

button:hover {
  background-color: rgb(117, 117, 117);
}
