<div class="main-container">
  <div class="main_time">
    <div class="cupos-info">
      <div class="cupos">
        <p>Cupo Máximo:</p>
        <p id="cupo">35</p>
      </div>
      <div class="cupos">
        <p>Cupo Disponible:</p>
        <p id="cupo">35</p>
      </div>
    </div>
    <div class="cronog">
      <div class="week">
        <app-course-content label="Horas"></app-course-content>
        <app-course-time [label]="day" *ngFor="let day of days" ></app-course-time>
      </div>
      <div class="hours" *ngFor="let h of hours">
        <app-course-time [label]="h"></app-course-time>
        <app-course-content *ngFor="let d of courses"></app-course-content>
        <!-- <app-cronograma-row
          *ngFor="let h of hours"
          [label]="h"
          [courses]="courses"
        ></app-cronograma-row> -->
        <!-- <app-course-time [label]="h" *ngFor="let h of hours"></app-course-time> -->
      </div>
    </div>
  </div>
  <div class="main_time">
    <div class="cupos-info">
      <p>Horario de Exámenes</p>
    </div>
    <div class="cronog">
      <div class="week">
        <app-course-content label="Horas"></app-course-content>
        <app-course-time [label]="day" *ngFor="let day of days" ></app-course-time>
      </div>
      <div class="hours" *ngFor="let h of hours">
        <app-course-time [label]="h"></app-course-time>
        <app-course-content *ngFor="let d of courses"></app-course-content>
        <!-- <app-cronograma-row
          *ngFor="let h of hours"
          [label]="h"
          [courses]="courses"
        ></app-cronograma-row> -->
        <!-- <app-course-time [label]="h" *ngFor="let h of hours"></app-course-time> -->
      </div>
    </div>
  </div>

</div>
