div {
  border-radius: 15px;
  color: white;

}
img {
  width: auto;
  height: 50px;
  margin: 15px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.professor-name-rate {
  display: flex;
  flex-direction: row;
  position: relative;
  text-align: center;
  align-items: center;
}

.professor-name {
  position: relative;
  background-color: white;
  color: #2f2f2f;
  font-weight: bold;
  font-family: sans-serif;
  flex-wrap: wrap;
  width: 150px;
  padding: 5px;
  text-align: center;
}

.professor-rate {
  position: absolute;
  top: 12px;
  left: 150px;
  background-color: #03a9f4;
  color: #2f2f2f;
  font-weight: bold;
  font-family: sans-serif;
  flex-wrap: wrap;
  width: 50px;
  align-items: center;
  text-align: center;
}

.course-paralelo {

  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  flex-wrap: wrap;
  background-color: rgb(117,117,117);
  color: white;
  width: 150px;
  height: 30px;
  margin-left: 70px;
  margin-top: 7px;
  padding: 5px;
  align-items: center;
}

button {
  color: white;
  border-radius: 15px;
  background-color: blue;
  font-weight: bold;
  border: 0;
  width: auto;
  height: 40px;
}

.buttons-registro {

  background-color: green;
}

.buttons-ampliacion {

  background-color: red;
}


.buttons-registro:hover {

  background-color: rgb(0, 68, 0);
}

.buttons-ampliacion:hover {

  background-color: rgb(122, 2, 2);
}
